* {
    box-sizing: border-box;
}

.band {
	padding: 5px;
	margin: 8px;
	color: white;
	background-color: #7496c2;
	border-radius: 10px;

}

#bandButtons {
	font-size: 20px;
}

#addBands-form {
	margin: 15px;
}

#gifsArea {
	margin-left: 10px;
}


footer {
	margin-top: 200px;
    width: 100%;
    text-align: center;
}